@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$colors: (    
    DarkBlue: hsl(240, 38%, 20%),
    GrayishBlue: hsl(240, 18%, 77%)
);

$fontsize: 30px;
body {
    background-color: #f0f0f0;
       display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
}


.container {
    position: relative;
    padding-top: 40px;
    padding-right: 10px;
    width: 90%;
    height: 500px;
    margin-top: 50px;
    background-color: white;
    z-index: 0;
    
}

.container .quotes {
position: relative;
margin-left: 150px;
margin-top: 70px;
}
.container .pattern-bg {
position: absolute;
padding-right: 150px;
top: 10;
right:0;
height: 400px;
}
.container .pattern-curve {
position: absolute;
bottom: 0;
left: 0;
height: 100px;
}

.container .inside {    
    display: flex;
}



.container .inside .first {
    margin-left: 50px;
    
    }
.container .inside .first p {
    width: 670px;
    margin-top: -30px;
    font-size: $fontsize;
    font-weight: 200;
    font-family: Inter;
    margin-left: 20px;
    
}

.container .inside .first h3 {
    color: map-get($map: $colors, $key: DarkBlue);
    font-family: Inter;
}

.container .inside .first h3 small {
    color: map-get($map: $colors, $key: GrayishBlue);
}



.container .inside .tanya img{
    position: relative;
    height: 335px;
    width: 300px;
    margin-top: -142px;
    margin-left: -50px;
    box-shadow: 10px 10px 20px #ccc;
    border-radius: 5px;
    }

.container .inside .tanya .navigation {
    background-color: white;
    height: 30px;
    width: 70px;
    margin-top: -15px;
    margin-left: -25px;
    border-radius: 20px;   
    }

.container .inside .tanya .navigation div {
    height: 100%;
    width: 100%;
   }

.container .inside .tanya .navigation div img {
    width: 10px;
    height: 10px;
    margin-left: 15px;
    margin-top: 10px;
    cursor: pointer;
}

